/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.text-muted {
  margin: 20px 0;
}


.form-control {
  width: 100%;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form .required {
  font-weight: bold;
}
form .required label:after {
  color: #d9534f;
  content: '*';
  display:inline;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
}

.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}
.checkbox-inline.no_indent:last-child {
  margin-right: 0;
}


/* Progress Bar CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: -4px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0; background: #f5f5f5;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -30px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

.new_html_code {

  min-height: 200px;
  overflow:hidden;
  display:block;
  border: 0px;
}
.jumbotron_index:after {
    margin-top: -30px;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("http://images.trvl-media.com/media/content/expus/graphics/launch/home/default_desktop_expedia.jpg");
    background-repeat: no-repeat;
    background-size: 100%;   
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.jumbotron_index {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
}
.jumbotron_index h1,
.jumbotron_index .h1 {
  color: inherit;
}
.jumbotron_index p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron_index > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron_index,
.container-fluid .jumbotron_index {
  border-radius: 6px;
}
.jumbotron_index .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron_index {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron_index,
  .container-fluid .jumbotron_index {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron_index h1,
  .jumbotron_index .h1 {
    font-size: 63px;
  }
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}
.indent {
  margin-left: 300px;
}

.indent-right {
  margin-right: 100px;
}

/* user navbar subheading */
.subheading h3 {
  font-size: 15px;
  font-weight: 400;
  padding: 0 10px 0 13px;
  text-transform: uppercase;
}

.alert{
  margin-bottom:0px;
} 

.table-edited th, .table-edited td { 
     border-top: none !important; 
 }

.vcenter {

    vertical-align: top;

}